<odoo>
    <data>
        <record model="ir.ui.menu" id="menu_my_brand">
            <field name="name">Brands</field>
            <field name="sequence" eval="30"/>
        </record>
        <record model="ir.ui.menu" id="menu_my_brand_list">
            <field name="name">Brand List</field>
            <field name="parent_id" ref="menu_my_brand"/>
            <field name="action" ref="action_brand"/>
            <field name="sequence" eval="10"/>
        </record>
        <record model="ir.actions.act_window" id="action_my_brand">
            <field name="name">Brand</field>
            <field name="res_model">my_brand.brand</field>
            <field name="view_mode">tree,form</field>
            <field name="web_icon">/mgp_template_pdf,static/src/img/brand_icon.png</field>
        </record>
    </data>
</odoo>